<!--<p>===> Слайдер <===</p>-->


<div class="slider-container">
    <div class="slider">
        <img src="/Static/Resource/london.jpg" alt="Лондон" />
        <img src="/Static/Resource/ny.jpg" alt="Нью-Йорк" />
        <img src="/Static/Resource/spb.jpg" alt="Санкт-Петербург" />
    </div>
    <button class="prev-button" type="button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
    <button class="next-button" type="button" aria-label="Посмотреть следующий слайд">&gt; </button>
</div>